<header>
    <h1><%= title %></h1>
    <nav id="main">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/profiles">profiles</a>| <a href="/profiles">Profiles | <a href="/contact">Contact</a></nav>
  </header>